/* hardware accelatator class */	
	.trans3d
	{
		-webkit-transform-style: preserve-3d;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform-style: preserve-3d;
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform-style:preserve-3d;
		-ms-transform: translate3d(0, 0, 0);
		transform-style:preserve-3d;
		transform: translate3d(0, 0, 0);

		/*-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility:hidden;
		backface-visibility:hidden;*/
	}
	
	#contentContainer
	{
		width: 100%;
		height: 1000px;
		overflow: hidden;
		z-index: 0;
		margin:0 auto;
	}
	
	#carouselContainer
	{
		width: 100%;
		height: 100%;
		margin:0 auto;
	}
	
	.carouselItem,.archer,.hunter,.wizard,.priest,.warrior,.paladin
	{
		width:320px;
		height:130px;
		position:absolute;
		left:50%;
		top:50%;
		margin-left:-160px;
		margin-top:-90px;
		visibility:hidden;
	}
	
	.carouselItemInner
	{
		width:320px;
		/*height:130px;*/
		position:absolute;
		background-color:#554432;
		border:10px solid #DECB9C;
		color:aqua;
		font-size:14px;
		left:50%;
		top:50%;
		margin-left:-160px;
		margin-top:-90px;
		text-align:center;
		/*padding-top:50px;*/
		
	}